/**
  see
  - https://webgradients.com/ or
  - https://cssgradient.io/gradient-backgrounds/
  - https://www.mshr.app/
  for inspiration
 */
.bg-default {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.bg-mountain-rock {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.bg-rainy {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.bg-sunny {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.bg-plum-plate {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.bg-fly-high {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.bg-wide-natrix {
  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}

.bg-mesh-orange-plum {
  background-color: hsla(14.588235294117649, 100%, 50%, 1);
  background-image: radial-gradient(circle at 0% 99%, hsla(58.117647058823536, 100%, 50%, 1) 0%, transparent 67%), radial-gradient(circle at 46% 94%, hsla(14.588235294117649, 100%, 50%, 1) 0%, transparent 81%), radial-gradient(circle at 93% 95%, hsla(283.27868852459017, 100%, 23%, 1) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsla(253.469387755102, 100%, 9%, 1) 0%, transparent 150%);
  background-blend-mode: normal, normal, normal, normal;
}

.bg-mesh-pastel {
  background-color: hsla(14.588235294117649, 100%, 50%, 1);
  background-image: radial-gradient(circle at 0% 99%, hsla(58.117647058823536, 100%, 50%, 1) 0%, transparent 67%), radial-gradient(circle at 46% 94%, hsla(14.588235294117649, 100%, 50%, 1) 0%, transparent 81%), radial-gradient(circle at 93% 95%, hsla(283.27868852459017, 100%, 23%, 1) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsla(253.469387755102, 100%, 9%, 1) 0%, transparent 150%);
  background-blend-mode: normal, normal, normal, normal;
}

.bg-mesh-blech {
  background-color: hsla(220.9090909090909, 30%, 14%, 1);
  background-image: radial-gradient(circle at 0% 5%, hsla(225.00000000000003, 56%, 60%, 0.7) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 23% 3%, hsla(210.4411764705882, 96%, 48%, 0.37) 3.1210986267166043%, transparent 76.4190383017679%), radial-gradient(circle at 100% 93%, hsla(186.61764705882354, 70%, 55%, 0.21) 3.1210986267166043%, transparent 45.38487571252063%), radial-gradient(circle at 96% 103%, hsla(120.44117647058823, 76%, 39%, 0.1) 3.1210986267166043%, transparent 50.0047517726123%), radial-gradient(circle at 80% 0%, hsla(158.82352941176472, 80%, 48%, 0.23) 3.1210986267166043%, transparent 24.819747276612727%);
  background-blend-mode: normal, normal, normal, normal, normal;
}